.App {
  color: #fff;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  height: 45px;
  color: white;
  border-bottom: 1px solid #fff;
  font-size: 34px;
  box-shadow: 0 1px 3px #fff;
  margin-bottom: 10px;
}

section {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

img {
  width: 80%;
  max-width: 480px;
  display: block;
  margin: 0 auto;
}
